{% extends 'base.html' %}

{% block content %}

<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<br/>
<h1>BRANDS LIST</h1>

<div class="container">
  <div class="row">
    {% for brand in brands %}
      <div class="col-md-3 mb-4">  {# Changed col-md-4 to col-md-3 #}
        
      
        <div class="card h-100">
          <div class="card-header">
            <h5 class="card-title">{{ brand.name }}</h5>
          </div>
          <img src="{{ brand.image.url }}" class="card-img-top" alt="Brand Image" style="height: 250px; object-fit: cover;">

          <div class="card-body">
  
            <p class="card-text">{{ brand.description }}</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'view_brand' brand.id %}" class="btn btn-primary">View</a>
            <a href="{% url 'edit_brand' brand.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'delete_brand' brand.id %}" class="btn btn-danger">Delete</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
