{% extends 'base.html' %}
{%block content%}

<h1>Category Details</h1>

<div class="card">
    <div class="card-header">
        <strong> {{ category.name }} </strong>
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ category.description }}
        </p>
    
     
    </div>
  </div>

  <br/>
  <a href = "{% url 'home' %}" class="btn btn-secondary">Back</a>
  <a href = "{% url 'delete_category' category.id %}" class="btn btn-danger">Delete</a>
  <a href = "{% url 'edit_category' category.id %}" class="btn btn-info">Update Category</a>

{% endblock %}